.container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  border: 1px solid;
  gap: 20px;
  color: gray;
}

.containerCenter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content:space-around;
}

.viewport {
  display: grid;
  width: 600px;
  height: 300px;
}

.header {
  display: grid;
  height: 100px;
  border: 1px solid ;
  color: black;
}

.presets{
  display: grid;
  min-width: 250px;
  height: 400px;
  border: 1px solid ;
  color: black;
}

.console{
  display: grid;
  min-width: 250px;
  height: 400px;
  border: 1px solid ;
  color: black;
}

.sequencer{
  display: grid;
  height: 200px;
  border: 1px solid ;
  color: black;
}

.main{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background: burlywood;
}