.container {
  display: grid;
  min-width: 0;
  min-height: 0;
  border: 1px solid;
  gap: 16px;
  color: rgb(31, 190, 169);
}

.bg{
  background:   linear-gradient(30deg,
   rgb(255, 238, 162)0%,
   rgb(196, 250, 255) 52%, 
   rgb(255, 168, 190) 100%);
}

.containerCenter {
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.viewport {
  display: grid;
  width: 600px;
  height: 300px;
  justify-content: center;
}

.header {
  display: flex;
  height: 100px;
  border: 1px solid;
  color: black;
  justify-content: center;
}

.presets{
  display: grid;
  min-width: 0;
  height: 450px;
  border: 1px solid ;
  color: black;
  justify-content: center;
}

.console{
  display: grid;
  min-width: 0;
  height: 450px;
  border: 1px solid ;
  color: black;
  justify-content: center;
}

.sequencer{
  display: grid;
  height: 160px;
  border: 1px solid;
  color: black;
}

.sequencerBtn{
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 30px;
  border: 1px solid black;
  color: black;
}

.button{
  background-color: rgb(42, 133, 102);
  border: 1px solid rgb(28, 80, 48);
  color: antiquewhite;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  width: 100px;
  height: 30px;
}

.button:hover {background-color: #62a187}